/* Elements */
canvas{
  width:100%;
  height:90%;
  position:relative;
  border:2px solid red;
  margin:0;
}

body{
  background-color:#3b3b3b;
  padding-left:0;
}

/* Classes */
.title{
  text-align:center;
  color:#E2DFDF;
}
