/* Elements */
canvas{
  width:100%;
  height:90%;
  position:relative;
  border:2px solid red;
  margin:0;
}

body{
  background-color:#3b3b3b;
  margin:0;
  margin-right:4px;
}

p{
  display:inline;
  text-align:center;
  font-size:15;
}
/* Classes */
.title{
  text-align:center;
  color:#E2DFDF;
}
